html {
  overflow: hidden;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("../assets/game_background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}
#header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f9a35a;
  padding: 0 2em;
  background-color: rgb(0, 92, 170, 0.5);
}

.value {
  color: #ffea8b;
}

#game-area {
  cursor: url("../assets/aim_red-64x64px.png") 32 32, auto;
  user-select: none;
  flex-grow: 1;
  position: relative;
  width: 100%;
}

#gun-area {
  user-select: none;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
}

#gun {
  height: 250px;
  position: fixed;
  bottom: 0;
  transition: transform 0.04s ease-out;
}

#congratulations-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

#congratulations-modal p {
  font-size: 18px;
}

.modal-content {
  width: 30%;
  padding: 20px;
  text-align: center;
  background-color: #005caa;
  border-radius: 12px;
  color: #f9a35a;
}

.modal-btn {
  margin: 15px 5px;
  padding: 10px 20px;
  border: none;
  background-color: #f9a35a;
  border: thick solid #ffea8b;
  border-radius: 12px;
  font-weight: 900;
  color: #005caa;
}

.modal-btn:hover {
  background-color: #d9823a;
  border-color: #e5d176;
  color: darkred;
}

.modal-btn:disabled {
  background-color: #d3d3d3;
  border-color: #aaaaaa;
  color: #666666;
  cursor: not-allowed;
  opacity: 0.6;
}

#home-button {
  position: fixed;
  height: 100px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  filter: brightness(90%);
}

#home-button:hover {
  filter: brightness(110%);
}

/* From Uiverse.io by kamehame-ha */
.coolinput {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 20px auto;
}

.coolinput label.text {
  font-size: 0.75rem;
  color: #818cf8;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: #e8e8e8;
  width: fit-content;
}

.coolinput input[type="text"].input {
  padding: 11px 10px;
  font-size: 0.75rem;
  border: 2px #818cf8 solid;
  border-radius: 5px;
  background: #e8e8e8;
}

.coolinput input[type="text"].input:focus {
  outline: none;
}
